<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>#(projectName)</title>
<link href="#(path)/favicon.ico" rel="SHORTCUT ICON"/>
<link rel="stylesheet" type="text/css" href="#(path)/static/pub/login/css/login.css"/>
<script type="text/javascript" src="#(path)/static/libs/jquery/jquery-2.1.4.min.js" ></script>
<!-- 加密处理 -->
<script src="#(path)/static/pub/login/rsa/RSA_Stripped.js" type="text/javascript"></script>
<script src="#(path)/static/pub/login/rsa/BigInt.js" type="text/javascript"></script>
<script src="#(path)/static/pub/login/rsa/Barrett.js" type="text/javascript"></script>
</head>
<body onkeypress="_loginKeyPress(event);">
<div class='signup_container'>
    <h1 class='signup_title'>
      <img src='#(path)/static/pub/login/img/people.png' id='admin'/>
      <span id="title">#(projectName??)</span>
    </h1>
      
    <h3 class="title">用户登录</h3>
    <span id="showMsg" #if(msg??)style='display:block'#end>#(msg??)</span>
    
    <div id="signup_forms" class="signup_forms clearfix">
        <form class="signup_form_form" id="signup_form" action="#(path)/pub/login/submit?returnUrl=#(returnUrl)" method="post" autocomplete="off">
             <div class="form_row first_row">
                 <div id="userCodeMsg" class='tip error'></div>
                 <input type="text" name="userCode" placeholder="用户名" id="signup_code" />
             </div>
            <div class="form_row">
                <div id="passwordMsg" class='tip error'></div>
                <input type="password" name="password" placeholder="密码" id="signup_password"/>
            </div>
            <div class="form_row" id="show_verifyCode" #if(vc??)style='display:block'#end >
                <div id="verifyCodeMsg" class='tip error'></div>
                <input type="text" name="verifyCode" placeholder="验证码" id="signup_verifyCode"/>
                <img border=1 id="imageId"title='点击图片更换验证码' onClick="reloadImage()"
					src="#(path)/pub/verify?t=#now()" />
            </div>
       </form>
    </div>

    <div class="login-btn-set">
       <!-- <div class='rem'>记住我</div> --><a href='javascript:login()' class='login-btn'></a>
    </div>
    
    <p class='copyright'>技术支持 #(copyright)</p>
</div>

</body>
<script type="text/javascript">
	var vc="#(vc??)",_path="#(path)";	
	//解决360浏览器记住密码登录失败问题
	$(function(){
		changeType('text');
		setTimeout("changeType('password')",100);
	});
	
	function changeType(type){
		$("#signup_password").attr("type",type);
	}
</script>
<script src="#(path)/static/pub/login/login.js" type="text/javascript"></script>
</html>
