    <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Echart 图标样例 </title>
<script src="#(path)/static/libs/echarts/echarts.min.js"></script>
<script src="#(path)/static/libs/echarts/ecstat/ecStat.min.js"></script><!-- 工具条js -->
<script src="#(path)/static/libs/echarts/echarts.tool.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="bar" style="width: 50%;height:400px;float: left"></div>
    <div id="line" style="width: 50%;height:400px;float: left"></div>
    <div id="pie" style="width: 50%;height:400px;float: left"></div>
    <div id="stack" style="width: 50%;height:400px;float: left"></div>
    <script type="text/javascript">
    var _path="#(path)";
    //柱状图
    //变量配置
    var config=echart.config;
    console.log(config)
    config.title="ECharts 入门示例";
    config.title_x="center";
    config.subtitle="测试";
    config.legend=['销量'];
    config.legend_x="left";
    //config.xName="类型";
    config.xAxis=["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"];
    //config.yName="数量";
    config.seriesName="销量";
    config.seriesData=[5, 20, 36, 10, 10, 20];
    config.divId="bar";
    echart.bar(config);
    
    //折线图
    config.legend=['库存'];
    config.seriesName="库存";
    config.seriesData=[10,30,50,60,70,100];
    config.divId="line";
    echart.line(config);
    
    //饼图
    config.legend=["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"];
    config.Name='库存';
    config.seriesPieData=[{value:10,name:'衬衫'},{value:10,name:'羊毛衫'},{value:10,name:'雪纺衫'},
    	{value:10,name:'裤子'},{value:10,name:'高跟鞋'},{value:10,name:'袜子'}];
    config.divId="pie";
    config.tooltipText="件";
    echart.pie(config);
    
    //折叠柱状图
    config.title="搜索统计";
    config.legend=['搜索引擎','百度','谷歌','必应','其他'];
    config.xAxis=['周一','周二','周三','周四','周五','周六','周日'];
    config.seriesName="搜索引擎";
    config.seriesData=[862, 1018, 964, 1026, 1679, 1600, 1570];
    config.stack="搜索引擎";
    config.stackName="百度";
    config.stackData=[620, 732, 701, 734, 1090, 1130, 1120];
    config.divId="stack";
    echart.stack(config);
    
    </script>
</body>
</html>